In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('Travel.csv')

In [5]:
data.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [7]:
data.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [8]:
data['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [9]:
data['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [10]:
data['Occupation'].value_counts()

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [11]:
data['ProductPitched'].value_counts()

ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64

In [12]:
data['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [13]:
for i in range(len(data.columns)-1):
    field = data.columns[i]
    if data[field].dtype == 'O':
        print('------------------------')
        print(data[field].value_counts())

------------------------
TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64
------------------------
Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64
------------------------
Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64
------------------------
ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64
------------------------
MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64
------------------------
Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [14]:
data['Gender'] = data['Gender'].replace('Fe Male', 'Female')

In [15]:
data['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [16]:
data['MaritalStatus'] = data['MaritalStatus'].replace('Single', 'Unmarried')

In [17]:
data['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [18]:
data.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [19]:
### Get NA value features
na_features = [feature for feature in data.columns if data[feature].isnull().sum()>=1]

In [20]:
na_features

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [21]:
## Find a average percentage of missing values
import numpy as np
for i in na_features:
    print(i, np.round(data[i].isnull().mean() * 100,5))

Age 4.62357
TypeofContact 0.51146
DurationOfPitch 5.13502
NumberOfFollowups 0.92062
PreferredPropertyStar 0.53191
NumberOfTrips 2.86416
NumberOfChildrenVisiting 1.35025
MonthlyIncome 4.76678

In [22]:
## Find missing values and calculate the percentage of missing values
features = [feature for feature in data.columns if data[feature].isnull().sum()>=1]

In [23]:
features

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [24]:
for feature in features:
    print(feature, np.round(data[feature].isnull().mean() * 100, 5))

Age 4.62357
TypeofContact 0.51146
DurationOfPitch 5.13502
NumberOfFollowups 0.92062
PreferredPropertyStar 0.53191
NumberOfTrips 2.86416
NumberOfChildrenVisiting 1.35025
MonthlyIncome 4.76678

In [25]:
data.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [26]:
## Statistics on numerical columns with na features 
data[features].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [27]:
features

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [28]:
## Fill na values with median, mode

data.Age.fillna(data.Age.median(), inplace=True)
data.TypeofContact.fillna(data.TypeofContact.mode()[0], inplace=True)
data.DurationOfPitch.fillna(data.DurationOfPitch.median(), inplace=True)
data.NumberOfFollowups.fillna(data.NumberOfFollowups.mode()[0], inplace=True)
data.PreferredPropertyStar.fillna(data.PreferredPropertyStar.mode()[0], inplace=True)
data.NumberOfTrips.fillna(data.NumberOfTrips.median(), inplace=True)
data.NumberOfChildrenVisiting.fillna(data.NumberOfChildrenVisiting.mode()[0], inplace=True)
data.MonthlyIncome.fillna(data.MonthlyIncome.median(), inplace=True)

/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Age.fillna(data.Age.median(), inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.TypeofContact.fillna(data.TypeofContact.mode()[0], inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.DurationOfPitch.fillna(data.DurationOfPitch.median(), inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfFollowups.fillna(data.NumberOfFollowups.mode()[0], inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.PreferredPropertyStar.fillna(data.PreferredPropertyStar.mode()[0], inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfTrips.fillna(data.NumberOfTrips.median(), inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfChildrenVisiting.fillna(data.NumberOfChildrenVisiting.mode()[0], inplace=True)
/var/folders/6r/ftk02sq56_35py75vwh5g8bm0000gn/T/ipykernel_79277/1168149248.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.MonthlyIncome.fillna(data.MonthlyIncome.median(), inplace=True)

In [29]:
data.isna().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [30]:
data.drop(columns='CustomerID', axis=1, inplace=True)

In [31]:
data.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [32]:
## Reduce the feature by adding NumberOfPersonVisiting and NumberOfChildrenVisiting
data['TotalVisiting'] = data['NumberOfChildrenVisiting'] + data['NumberOfPersonVisiting']
data.drop(columns=['NumberOfChildrenVisiting', 'NumberOfPersonVisiting'], inplace=True)

In [33]:
data.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [34]:
## Get all Numerical features
num_features = [feature for feature in data.columns if data[feature].dtype != 'O']

In [35]:
## Get all Numerical features
category_features = [feature for feature in data.columns if data[feature].dtype == 'O']

In [36]:
## Discreate features (which is fixed size of categories like 10 or 20.. like zipcode)
discrete_features = [feature for feature in num_features if len(data[feature].unique())<=25]

In [37]:
## Continoues features
continoues_features = [feature for feature in num_features if feature not in discrete_features]

In [38]:
print(f"Total Numerical features {len(num_features)}")
print(f"Total Categorical features {len(category_features)}")
print(f"Total Discrete features {len(discrete_features)}")
print(f"Total Continoues features {len(continoues_features)}")

Total Numerical features 12
Total Categorical features 6
Total Discrete features 9
Total Continoues features 3

In [39]:
## Train test split and model training

from sklearn.model_selection import train_test_split
X = data.drop(columns='ProdTaken', axis=1)
y = data['ProdTaken']

In [40]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [41]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [42]:
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [43]:
X_train.shape, x_test.shape, y_train.shape, y_test.shape

((3421, 17), (1467, 17), (3421,), (1467,))

In [44]:
## Column transformation
categorical_features = X.select_dtypes(include='object').columns
numerical_features = X.select_dtypes(exclude='object').columns

In [45]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

standard = StandardScaler()
onehot = OneHotEncoder(drop='first')
preprocess = ColumnTransformer(
    [
        ('OneHotEncoder', onehot, categorical_features),
        ('StandardScaler', standard, numerical_features)
    ]
)

In [46]:
preprocess

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

In [47]:
X_train = preprocess.fit_transform(X_train)
x_test = preprocess.transform(x_test)

In [48]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,-0.714031,-0.649789,0.280718,-0.727208,-1.217370,-0.632714,1.409081,0.781435,0.460318,-0.067869
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.714031,-0.527737,-0.719632,1.768057,1.504605,-0.632714,1.409081,-1.279697,-1.005668,-0.777901
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.161582,1.281068,1.768057,-0.672975,1.580492,-0.046813,0.781435,-1.209722,-0.067869
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.470853,-0.771841,0.280718,0.520424,-0.128580,1.580492,-0.046813,0.781435,-0.017750,0.642163
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.527737,1.281068,0.520424,2.593396,-0.632714,0.681134,-1.279697,-0.423411,-0.067869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3416,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.649789,1.281068,-0.727208,-0.672975,-0.632714,-1.502707,0.781435,-0.531926,0.642163
3417,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.470853,-0.893893,-0.719632,1.768057,-1.217370,-0.632714,1.409081,0.781435,1.512744,-0.067869
3418,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.470853,1.547143,0.280718,-0.727208,2.049001,-0.632714,-0.774760,0.781435,-0.357400,0.642163
3419,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.470853,1.791246,1.281068,-0.727208,-0.128580,-0.632714,-1.502707,0.781435,-0.250765,0.642163
3420,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.714031,-0.771841,0.280718,-0.727208,-1.217370,1.580492,-0.046813,-1.279697,-1.071680,-1.487933

In [49]:
## Training

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, mean_squared_error, r2_score, roc_auc_score,recall_score,ConfusionMatrixDisplay,precision_score,f1_score, accuracy_score

In [50]:
models = {
    'Decision Tree': DecisionTreeClassifier(),
    'Random forest': RandomForestClassifier(),
    'Gradient Classifier': GradientBoostingClassifier()
}

for i  in range(len(list(models))):
    model = list(models.values())[i]
    
    model.fit(X_train, y_train)
    
    ## training and test prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(x_test)
    
    print(f"Model name - {list(models.keys())[i]}")
    ## Performance of training prediction
    print(f"Training Accuracy score {accuracy_score(y_train, y_train_pred)}")
    print(f"F1 score {f1_score(y_train, y_train_pred, average='weighted')}")
    print(f"Precision score {precision_score(y_train, y_train_pred)}")
    print(f"Recall score {recall_score(y_train, y_train_pred)}")
    print(f"ROC curve score {roc_auc_score(y_train, y_train_pred)}")
    
    ## Performance of test prediction
    print(f"Training Accuracy score {accuracy_score(y_test, y_test_pred)}")
    print(f"F1 score {f1_score(y_test, y_test_pred, average='weighted')}")
    print(f"Precision score {precision_score(y_test, y_test_pred)}")
    print(f"Recall score {recall_score(y_test, y_test_pred)}")
    print(f"ROC curve score {roc_auc_score(y_test, y_test_pred)}")
    print("--------------------------------------")

Model name - Decision Tree
Training Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Recall score 1.0
ROC curve score 1.0
Training Accuracy score 0.9011588275391956
F1 score 0.9019024303114683
Precision score 0.7263157894736842
Recall score 0.7554744525547445
ROC curve score 0.8450465305523094
--------------------------------------
Model name - Random forest
Training Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Recall score 1.0
ROC curve score 1.0
Training Accuracy score 0.9195637355146558
F1 score 0.9122042587384082
Precision score 0.9482758620689655
Recall score 0.6021897810218978
ROC curve score 0.7973228871580571
--------------------------------------

Model name - Gradient Classifier
Training Accuracy score 0.8947676118094124
F1 score 0.8833080091835576
Precision score 0.8803191489361702
Recall score 0.5123839009287926
ROC curve score 0.7480838423562882
Training Accuracy score 0.8766189502385822
F1 score 0.862755990612703
Precision score 0.7961783439490446
Recall score 0.4562043795620438
ROC curve score 0.714690622304073
--------------------------------------

In [51]:
### Hyperparameter turning
randomforest_params = {
    "n_estimators": [100,200,300,400],
    "criterion" : ["gini", "entropy", "log_loss"],
    "max_depth" : [5, 7, "auto",8],
    "min_samples_split": [2,8,15,20]
}

gradientboost = {
    "loss": ['log_loss', 'exponential'],
    "n_estimators" : [100,200,300,400],
    "criterion" : ['friedman_mse', 'squared_error'],
    "max_depth": [1, 5, None, 7]
}

hyper = [
    ('RF', RandomForestClassifier(), randomforest_params),
    ('GradientBoost', GradientBoostingClassifier(), gradientboost)
    
]

In [52]:
from sklearn.model_selection import RandomizedSearchCV

model_param={}
for name, model, param in hyper:
    
    rscv = RandomizedSearchCV(estimator=model, param_distributions=param, cv=3, verbose=2, n_jobs=-1)

    rscv.fit(X_train, y_train)
    
    model_param[name] = rscv.best_params_
    model_param[name+'score'] = rscv.score

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV] END criterion=entropy, max_depth=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END criterion=entropy, max_depth=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END criterion=entropy, max_depth=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END criterion=entropy, max_depth=5, min_samples_split=2, n_estimators=400; total time=   3.1s
[CV] END criterion=entropy, max_depth=7, min_samples_split=2, n_estimators=400; total time=   3.9s
[CV] END criterion=entropy, max_depth=7, min_samples_split=2, n_estimators=400; total time=   3.9s
[CV] END criterion=entropy, max_depth=7, min_samples_split=2, n_estimators=400; total time=   3.9s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=20, n_estimators=100; total time=   0.8s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=20, n_estimators=100; total time=   0.8s
[CV] END criterion=gini, max_depth=7, min_samples_split=20, n_estimators=100; total time=   0.6s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=20, n_estimators=100; total time=   0.6s
[CV] END criterion=gini, max_depth=7, min_samples_split=20, n_estimators=100; total time=   0.6s
[CV] END criterion=gini, max_depth=7, min_samples_split=20, n_estimators=100; total time=   0.6s
[CV] END criterion=entropy, max_depth=5, min_samples_split=2, n_estimators=400; total time=   2.8s
[CV] END criterion=entropy, max_depth=5, min_samples_split=2, n_estimators=400; total time=   2.4s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=300; total time=   3.4s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=300; total time=   3.4s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=300; total time=   3.5s
[CV] END criterion=gini, max_depth=8, min_samples_split=8, n_estimators=300; total time=   3.4s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=200; total time=   2.5s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=200; total time=   2.5s
[CV] END criterion=gini, max_depth=8, min_samples_split=8, n_estimators=300; total time=   3.3s
[CV] END criterion=gini, max_depth=8, min_samples_split=8, n_estimators=300; total time=   3.3s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   0.9s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   0.8s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=100; total time=   0.9s
[CV] END criterion=log_loss, max_depth=8, min_samples_split=2, n_estimators=200; total time=   1.9s
[CV] END criterion=gini, max_depth=8, min_samples_split=15, n_estimators=100; total time=   1.0s
[CV] END criterion=gini, max_depth=8, min_samples_split=15, n_estimators=100; total time=   0.8s
[CV] END criterion=gini, max_depth=8, min_samples_split=15, n_estimators=100; total time=   0.7s

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_validation.py:547: FitFailedWarning:
3 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py", line 1467, in wrapper
    estimator._validate_params()
  File "/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/opt/anaconda3/lib/python3.12/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_depth' parameter of RandomForestClassifier must be an int in the range [1, inf) or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_search.py:1051: UserWarning: One or more of the test scores are non-finite: [0.8482902         nan 0.83104387 0.84566016 0.84244507 0.85589254
 0.85589024 0.85530749 0.85676897 0.8506299 ]
  warnings.warn(

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=100; total time=   0.4s
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=100; total time=   0.4s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=7, n_estimators=400; total time=  15.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=7, n_estimators=400; total time=  14.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=7, n_estimators=400; total time=  15.9s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=300; total time=  16.3s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=None, n_estimators=400; total time=  23.1s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=300; total time=  26.6s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=None, n_estimators=400; total time=  25.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=300; total time=  27.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=100; total time=   3.8s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=100; total time=   3.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=100; total time=   3.8s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=None, n_estimators=400; total time=  15.6s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=300; total time=  13.8s
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=400; total time=   4.4s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=300; total time=  14.1s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=7, n_estimators=300; total time=  14.5s
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=400; total time=   2.9s
[CV] END criterion=squared_error, loss=log_loss, max_depth=1, n_estimators=400; total time=   2.9s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, n_estimators=100; total time=   3.2s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, n_estimators=100; total time=   3.6s
[CV] END criterion=squared_error, loss=exponential, max_depth=1, n_estimators=200; total time=   2.1s
[CV] END criterion=squared_error, loss=exponential, max_depth=1, n_estimators=200; total time=   2.0s
[CV] END criterion=squared_error, loss=exponential, max_depth=1, n_estimators=200; total time=   2.1s
[CV] END criterion=friedman_mse, loss=log_loss, max_depth=5, n_estimators=100; total time=   4.0s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=400; total time=  21.7s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=400; total time=  22.5s
[CV] END criterion=friedman_mse, loss=exponential, max_depth=None, n_estimators=400; total time=  21.6s

In [53]:
for i in model_param:
        print(model_param[i])

{'n_estimators': 100, 'min_samples_split': 2, 'max_depth': 8, 'criterion': 'log_loss'}
<bound method BaseSearchCV.score of RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entropy',
                                                      'log_loss'],
                                        'max_depth': [5, 7, 'auto', 8],
                                        'min_samples_split': [2, 8, 15, 20],
                                        'n_estimators': [100, 200, 300, 400]},
                   verbose=2)>
{'n_estimators': 300, 'max_depth': 7, 'loss': 'exponential', 'criterion': 'friedman_mse'}
<bound method BaseSearchCV.score of RandomizedSearchCV(cv=3, estimator=GradientBoostingClassifier(), n_jobs=-1,
                   param_distributions={'criterion': ['friedman_mse',
                                                      'squared_error'],
                                        'loss': ['log_loss', 'exponential'],
                                        'max_depth': [1, 5, None, 7],
                                        'n_estimators': [100, 200, 300, 400]},
                   verbose=2)>